
.page {
    background-color: green;
    padding: 2em;
}

h2 {
    padding-top: 2em;
}

ul {
    background: #3399ff;
    padding: 20px;
  }

ul li {
    background: #cce5ff;
  color: darkblue;
  margin: 5px;
}

.cmlogo{
    text-decoration: none;
    font-family: 'Futura Std', sans-serif;
    font-weight: 600;
    color: black;
    margin: auto;
    padding-left: 1vw;
    font-size: larger;
}