.page {
  background-color: #cce5ff;
  padding: 2em;
}


h2 {
  padding-top: 2em;
}

ul {
  padding: 20px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

.logo {
  text-decoration: none;
  font-family: 'Futura Std', sans-serif;
  font-weight: 600;
  color: black;
  margin: auto;
  padding-left: 1vw;
  font-size: larger;
}