
.page {
  padding: 1em;
}

.home {
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  font-family: garamond;
  padding-top: 1em;
  font-weight: 600;
  color: #7187c0;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-family: garamond;
  color: #7187c0;
  font-size: 2rem;
}

h4 {
  font-family: garamond;
  color: #7187c0;
  padding-top: 1em;
  font-size: 2rem;
}

ul {
  list-style: none;
}

p {
  font-family: georgia;
  text-align: justify;
  padding: 1em;
}

/*Styling images, only on About*/
.AboutPage img {
  display: block;
  float: right;
  width: 45%;
  padding: 10px;
  border-radius: 50%;
}

/*Removing Tim Ross caption (not necessary)*/
figcaption {
  display: none;
}

/*Styling content on other pages*/
img:not(#logo) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.EventPage p {
  padding-left: 150px;
  padding-right: 150px;
}

/*Details about Buildings and Events*/
.details {
  display: block;
  padding-top: 3rem;
  font-size: large;
}

/*Dot hover effect on list items*/
.list-group-item, .list-group-item a, .PartnersPage a, .LinksPage a {
  text-decoration: none;
  color: #7187c0;
  border: none;
  font-weight: bold;
}

.list-group-item:after, .PartnersPage a:after, .LinksPage a:after {
  content: '';
  width: 0%;
  height: 10px;
  border-radius: 50%;
  background: #f496a8;
  display:block;
  transition: 0.5s;
}

.list-group-item:hover::after, .PartnersPage a:hover::after, .LinksPage a:hover::after {
  width: 1%;
}

.wp-block-embed__wrapper {
  font-weight: bold;
}